.postContainer {
  display: inline-block;
}

.hr {
  margin-top: 30px;
}

.container {
  margin-bottom: 40px;
}

.title:hover {
  text-decoration: none;
}

.date {
  margin: 40px;
}
