.postContainer {
    display: inline-block;
}

.hr {
    margin-top: 30px;
}

.container {
    margin-bottom: 40px;
}

.title {
    margin-top: 10px;
    text-decoration: none;
}

.date {
    margin: 40px;
}