.navContainer {
    margin: 10px auto;
    max-width: 1200px;
}


.navLink {
    color: black;
    text-decoration: none;
    margin: 20px;
}

.navLink:hover{
    text-decoration: none;
    color: black;
}

.hr {
    width: 100%;
}