.navbar {
  box-shadow: 0 4px 6px -6px #222;
}

.navLink {
  color: black;
  text-decoration: none;
  font-size: 21px;
  margin: 10px 30px;
  margin-left: 0;
}

.navLink:hover {
  text-decoration: none;
  color: purple;
}

.header {
  margin-top: 50px;
  height: 500px;
}

.content {
  margin-top: 100px;
}
