.navContainer {
    margin: 0 auto;
    max-width: 1200px;
}

.contentContainer {
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 50px;
}

.navLink {
    color: black;
}

.navLink:hover{
    text-decoration: none;
    color: black;
}

.hr {
    width: 100%;
}